.cabecalho{
    background-color: red;
    width: 80vw;
    margin: 10px auto;
    text-align: center;
}

.caixaG{
    background-color: blueviolet;
    width: 90vw;
    margin: 10px auto;
    overflow: hidden;
}

.caixa{
    background-color: red;
    height: 50px;
    width: 28vw;
    margin: 1vw 2vw;
    float: left; 
}