html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.header{
    background-color: yellow;
    height: 14vh;
}

.headerPart{
    height: 7vh;
    text-align: center;
}


#headerSearch{
    height: 2.5vh;
    margin-top: 2vh;
}
.navBar{
    border-style: solid;
    line-height: 6vh; /*altura da linha em total do elemento pai*/
}

.navOptions{
    vertical-align: middle; /*centraliza se baseando na altura de line-height*/
    margin-left: 2vw;
}

.content{
    background-color: #bebebe;
    text-align: center;
    height: 86vh;
}

.menu{
    background-color: white;
    width: 80vw;
    height: 15vh;
    margin-top: 4vh;
    display: inline-block;
    border-radius: 1vw;
}

.firstOffer, .offers{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
}

.firstOffer{
    border-right: solid grey;
}

.title{
    margin-top: 1vh;
}

.title, .subtitle{
    margin-left: 1vw;
}