.header{
    background-color: yellow;
    height: 14vh;
}

.headerPart{
    height: 7vh;
    text-align: center;
}


#headerSearch{
    height: 2.5vh;
    margin-top: 2vh;
}
.navBar{
    border-style: solid;
    line-height: 6vh; /*altura da linha em total do elemento pai*/
}

.navOptions{
    vertical-align: middle; /*centraliza se baseando na altura de line-height*/
    margin-left: 2vw;
}